@import "_core";

.hero {
	position: relative;

	.hero-slider {
		.slick-list {
			@extend .z-depth-2;
		}
	}
	.hero-slider__item-img {
		width: 100%;
		height: 100%;
		object-fit: cover;

	}

	.hero-slider__item-content-wrap {
		position: relative;
		height: 55rem;
		
		@media #{$medium-and-down} {
			height: 45rem;
		}
		@media #{$small-and-down} {
			height: 20rem;
		}
	}
	.hero-slider__item-content {
		position: absolute;
		top: 50%;
		left: 0;
		transform: translateY(-50%);
		width: 100%;
		height: 100%;
		display: flex;
		align-items: flex-start;
		flex-direction: column;
		justify-content: center;
		padding: 2rem 5rem;
		@media #{$medium-and-down} {
			padding: 2rem 3rem;
		}
		@media #{$small-and-down} {
			padding: 2rem;
		}
	}
	.hero-slider__item-title {
		color: #fff;
		font-size: 6rem;
		font-family: $font-secondary;
		font-weight: 500;
		margin: 0;
		@media #{$medium-and-down} {
			font-size: 4rem;
		}
		@media #{$small-and-down} {
			font-size: 2.3rem;
		}
	}
	.hero-slider__item-button {
		margin-top: $common-spacing-indent;

		@media #{$small-and-down} {
			margin-top: $common-spacing-indent/4;
		}

	}

}

.list {
	position: relative;
	overflow: hidden;

	&:before {
		content: '';
		background: url("/images/vertical-menu-background-img.jpg") no-repeat;
		background-size: contain;
		width: 100%;
		height: 100%;
		position: absolute;
		left: 0;
		@media #{$small-and-down} {
			display: none;
		}
	}
	@media #{$small-and-down} {
		.main-title {
			margin-bottom: 0;
		}
		.main-text {
			margin-top: 0;
		}
	}

	.list__inner {
		display: grid;
		grid-template-columns: repeat(4, 1fr);
		grid-gap: 2.5rem;
		margin-top: $common-spacing-indent;
		@media #{$small-and-down} {
			margin-top: 0;
			grid-template-columns: repeat(2, 1fr);

		}
	}

	.inner-item {
		position: relative;

		@extend .z-depth-2;

		.item-image {
			display: flex;
			width: 100%;
			height: 100%;

			img {
				object-fit: cover;
				width: 100%;
				height: 100%;
                max-height: 30rem;
			}

		}

		&:hover {
			.item-content {
				opacity: 1;
			}
		}

		.item-content {
			position: absolute;
			width: 100%;
			height: 100%;
			top: 0;
			left: 0;
			display: flex;
			justify-content: center;
			align-items: center;
			padding: 1rem;
			background-color: rgba(0, 0, 0, .6);
			opacity: 0;
			text-align: center;
			box-sizing: border-box;
			transition: opacity .4s ease;
			@media #{$small-and-down} {
				opacity: 1;
				background-color: rgba(0, 0, 0, .4);
			}

			.main-text {
				padding: 1rem;

				color: $white;
			}
		}

	}
}

.presentation {
	position: relative;
	overflow: hidden;

	.presentation-overlay-title {
		position: absolute;
		top: 0;
		font-family: $font-secondary;
		color: rgba(239, 214, 193, .25);
		font-size: 18rem;
		line-height: 1;
		font-weight: 700;
		letter-spacing: 0;
		white-space: nowrap;
		z-index: -1;
		&._overlay-title-left {
			left: 0;
		}
		
		&._overlay-title-right {
			right: 0;
		}
		&._overlay-title-middle {
			right: 10%;
		}
		&._md{
			font-size: 11rem;
		}
		@media #{$small-and-down} {
			display: none;
		}
	}

	.presentation__inner {
		display: grid;
		grid-auto-flow: column;
		grid-gap: $common-spacing-indent;
		justify-content: center;
		
		@media #{$medium-and-down} {
			grid-auto-flow: row;
			grid-gap: $common-spacing-indent/2;
		}

		.presentation__image{
			@media #{$small-and-down} {
				display: none;
			}
		}

		&._reversed {
			.presentation__image{
				order: 2;
			}
		}
	}

	.presentation__image {
		position: relative;
		@extend .z-depth-2;
		img{
			object-fit: cover;
		}
	}

	.presentation__content {
		display: flex;
		flex-direction: column;
		position: relative;
		margin: $common-spacing-indent 0 0 0;
		@media #{$medium-and-down} {
			margin: 0;
		}

		.presentation__content-leaf-wrap {
			position: absolute;
			bottom: -10rem;
		
			@media #{$small-and-down} {
				display: none;
			}
			&._right-leaf {
				right: -5rem;
			}
			&._left-leaf {
				left: -5rem;
			}
			.presentation__content-leaf{
				max-width: 15rem;
				@media #{$medium-and-down} {
					max-width: 10rem;
				}
			}
		}
	}

}

.presentation-leaf-wrap{
	position: absolute;
	
	@media #{$small-and-down} {
		display: none;
	}
	&._top-leaf{
		top: 0;
	}
	&._bottom-leaf{
		bottom: 1rem;
	}
	&._right-leaf {
		right: 0;
	}
	&._left-leaf {
		left: 0
	}
	.presentation-leaf{
		position: relative;
		max-width: 15rem;
		@media #{$medium-and-down} {
			max-width: 10rem;
		}
	}
}


.slider-half { position: relative;

	.slider-img-wrap { height: 35rem;

		@media #{$medium-and-down} {
			height: 20rem;
		}

		img{
			object-fit: cover;
		}

	}

	.slick-list {
		@extend .z-depth-2;
	}
}

.presentation__list {
	position: relative;
	margin-top: $common-spacing-indent*2;
	counter-reset: list;

	@media #{$small-and-down} {
		margin-top: 0;
	}

	&:before {
		content: '';
		position: absolute;
		top: -18rem;
		left: 10%;
		width: 35rem;
		height: 25rem;
		background: url("/images/leaf3.png") no-repeat 100%;
		background-size: cover;
		z-index: 10;

		@media #{$medium-and-down} {
			display: none;
		}
	}

	.presentation__list-item {
		position: relative;
		padding: 0 3rem 0 10rem;

		@media #{$small-and-down} {
			margin-bottom: 2rem;
		}

		&:before {
			position: absolute;
			counter-increment: list;
			content: counter(list);
			top: -35%;
			left: 0;
			font-family: $font-secondary;
			font-size: 22rem;
			line-height: 0;
			font-weight: 500;
			color: #f5e7db;
			@media #{$small-and-down} {
				top: 0;
			}
		}
		
	}
}

.divider-content {

	text-align: center;
	background: $main-color-lighten;

	&._white {
		background: $white;
	}

	.divider-content__inner {
		padding: $common-spacing-indent * 1 0;
		@media #{$small-and-down} {
			padding: $common-spacing-indent / 2;
		}

		&._overlayed {
			padding: $common-spacing-indent 0 $common-spacing-indent*2 0;
		}

		.main-title {
			margin: 0;
		}

		.main-text {
			margin-bottom: 0;
		}
	}

}

.gallery-slider{
	/* the slides */

	.slick-slide {
		margin: 2.5rem;
		@extend .z-depth-1-half;
		object-fit: cover;
		height: 25rem;
		position: relative;
		&:before{
			content: '\1F50E';
			display: flex;
			justify-content: center;
			align-items: center;
			position: absolute;
			color: #fff;
			font-size: 1.5rem;
			top:0;
			right: 0;
			left: 0;
			bottom: 0;
			background: rgba(0,0,0,0.5);
		}
		img{
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
		@media #{$small-and-down} {
			margin: 0;
		}
	}
	/* the parent */
	.slick-list {
		margin: 0 -2.5rem;
		@media #{$small-and-down} {
			margin: 2.5rem 0;
		}
	}
	
	
}

// Map
// ==========================================================================
.map {
	position: relative;

	#map {
      height: 50rem;
      width: 100%;
      margin: 1rem 0;
      @extend ._has_shadow;
      border: 2rem solid $white;
      border-radius: 2px;
      @media #{$small-and-down} {
        border: none;
      }
    }
		.map-contacts-wrap {
			position: absolute;
			bottom: 2rem;
            display: inline-flex;
			border-radius: 2px;
			flex-direction: column;
			@extend .z-depth-1-half;
			left: 2rem;
			padding: 2rem;
            justify-content: center;
			background: #fff;
            a{
              margin: .5rem 0;
              font-size: 1.6rem;
              color: $text-color;
            }
			@media #{$small-and-down} {
				bottom: 0;
				left: 0;
				a{
					font-size: 1.5rem;
				}
			}
		}

}

// Scroll top
//==========================================================================


.scrollTop {
	display: none;
	width: 100%;
	margin: 0 auto;
	position: fixed;
	bottom: 2rem;
	right: 2rem;
	z-index: 11;
}

.scroll-btn {
	position: absolute;
	right: 2rem;
	bottom: 2rem;
	width: 4rem;
	height: 4rem;
	display: inline-block;
	cursor: pointer;
	transition: fill 0.2s;
	fill: $primary-color-light;

	&:hover {
		fill: darken($primary-color-light, 10%);
	}

}

