.collapsible {
	margin: $element-top-margin 0 $element-bottom-margin 0;
	@extend .z-depth-1;
	font-size: 1.6rem;
	box-shadow: none;
	border-top: 1px solid $collapsible-border-color;

	.collapsible-item {
		border-bottom: 1px solid $collapsible-border-color;
		position: relative;
		.plus {
			position: absolute;
			top: 2rem;
			right: 1rem;
			width: 1rem;
			height: 1rem;
			z-index: 1;
			cursor: pointer;
			opacity: .5;
			transition: .4s all;
			&:before, &:after {
				content: '';
				width: 2px;
				height: 100%;
				background: #7a767a;
				display: block;
				position: absolute;
				top: 0;
				left: 50%;
				margin-left: -1px;
			}
			&:after {
				height: 2px;
				width: 100%;
				left: 0;
				margin-left: 0;
				top: 50%;
				margin-top: -1px;
			}
		}
		&.active {
			border-color: $primary-color-dark;
			.plus {
				transform: rotate(-135deg);
				opacity: 1;
				&:before, &:after {
					background: $primary-color-dark;
				}
			}
		}
	}

}

.presentation-collapse-img {
	display: flex;
	justify-content: center;
	img{
		max-height: 35rem;
		@extend .z-depth-2;
	}
	@media #{$small-and-down} {
		margin-top: 2rem;
		img{
			max-height: 25rem;
		}
	}
	
}
.collapsible-header {
	&:focus {
		outline: 0
	}

	display: flex;
	cursor: pointer;
	position: relative;
	-webkit-tap-highlight-color: transparent;
	line-height: 1.5;
	padding: 1rem 5rem 1rem 1rem;
	background-color: transparent;
	color: $lighten-text-color;
	font-family: $font-secondary;
	font-size: 2rem;
	@media #{$small-and-down} {
		font-size: 1.8rem;
	}

	i {
		width: 2rem;
		font-size: 1.6rem;
		display: inline-block;
		text-align: center;
		margin-right: 1rem;
	}
}

.keyboard-focused .collapsible-header:focus {
	background-color: #eee;
}

.collapsible-body {
	display: none;
	box-sizing: border-box;
	padding: 2rem;
	color: $lighten-text-color;
	font-size: 1.4rem;
	@media #{$small-and-down} {
		padding: 1rem .5rem;
	}
	
}

// Sidenav collapsible styling
.sidenav,
.sidenav.fixed {

	.collapsible {
		border: none;
		box-shadow: none;

		li {
			padding: 0;
		}
	}

	.collapsible-header {
		background-color: transparent;
		border: none;
		line-height: inherit;
		height: inherit;
		padding: 0 $sidenav-padding;

		&:hover {
			background-color: rgba(0, 0, 0, .05);
		}
		i {
			line-height: inherit;
		}
	}

	.collapsible-body {
		border: 0;
		background-color: $collapsible-header-color;

		li a {
			padding: 0 (7.5px + $sidenav-padding) 0 (15px + $sidenav-padding);
		}
	}

}
